/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron {
	text-align: center;
	color:white;
	background-image: url("../images/background_site.jpg");
}

.navbar-header img{
	padding-bottom: 20px;
}
.btn-lg{
	font-size: 36px; 
}

.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}


.jumbotron p{
	font-weight: 100;
	font-family: 'Arvo', courie, serif;
	line-height: 2.5;
	padding: 0px 40px;
}

ul.nav,.jumbotron h1{
	font-family: 'Arvo', courie, serif;
}

ul.nav{
	font-size: 13px;
}

.emphasis{
	color: red;
	font-size: 22px;
}
.homepage {
	text-align: center;
	padding: 50px;
}
.homepage p{
	font-family: 'Arvo', courie, serif;
	font-weight: 500;
	font-size: 21px;
}


.homepage hr{
	border-color: red;
	width:120px;
	margin-top: 10px;
}

.homepage h1, .homepage h3{
	color: red;
	text-transform: uppercase;
	font-family: 'Arvo', courie, serif;
}
.homepage h1, {
	font-size: 50px;
}

.homepage h3{
	font-size: 30px;
	
}

.homepage a:hover{
	color:red;
	text-decoration: none;
	opacity: .6;
}

#get-involved{
	background-color: #f5f5f5;
}

#get-involved img:hover , .homepage i:hover{
	opacity: .7;
}

#who-we-are {
	padding: 20px;
	background-color:white;
}
footer {
	background-color: #d3d3d3;

}

span.glyphicon{
	vertical-align: middle;

}


footer h2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	text-align: 
}


footer a:hover{
	opacity: .8;
	text-decoration: none;

}


.img-circle{
	width: 600px;
}

.navbar-brand{
    height: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.navbar-brand h2{
	margin-top: 0px;
	color: white;
	}
body {
	padding-bottom: 0px;
}

.col-md-4{
	align-self: center;
	margin: auto;
	vertical-align: middle;
}

.col-md-4 h2{

	font-weight: lighter;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: black;
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */	
	-o-user-select: none;
	user-select: none;

}
.galeria {
	padding: 250px 0px 0px 450px;
}

.bola{
	padding: 0px 0px 0px 0px;

}


.col-md-3 a{
	color: unset;
}

.col-md-3 a:hover{
	color: green;
}

#h22{
	font-size: 20px;
	font-family:'Open Sans Condensed', sans-serif;
	color: black;
}



blockquote{
justify-content: center;
vertical-align: center;



}

#nomegaleria{
display: flex;
justify-content: center;
height: 620px;


}

#divh2 {
	align-self: center;
}
#bola{
height: 620px;
}
#inst{

}
#upfooter{
	background-color: #f5f5f5
}
#downfooter{
	background-color: #d3d3d3;
	padding-top:50px;
}

#divh2 h2{
		font-size: 50px;
	}

@media (max-width: 1199px) { 
	#nomegaleria{
		right: 70px;
	}
	#bola{
		right: 90px;
	}
	#inst{
		left: 30px;
	}
	#divh2 h2{
		font-size: 50px;
		margin-bottom: 70px
	}
}


@media (max-width: 991px) { 
	#nomegaleria{
		height:100px; 
		right: 0px;
	}
	#bola{
		right: 0px;
	}
	#inst{
		left:0px ;
		height: 750px;
	}
	#divh2 h2{
		font-size: 50px;
	}

}


@media (max-width: 767px) { 
	#nomegaleria{
		height:100px; 
	}
	#bola{
		height: 400px;
	}
	#inst{
		height: 600px;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.img-circle{
	width: 400px;
	}
	
}
@media (max-width: 480px) { 
	#nomegaleria{
		height:100px; 
	}
	#bola{
		height: 210px;
		margin-bottom: 50px;
		padding: 0 0 0 0px;
	}
	#inst{
		height: 500px;
	}
	.img-circle{
	width: 172px;
	}
}